.container {
  width: 350px;
  max-width: 350px;
  border-radius: 10px;
  flex-shrink: 0;
}

.devices {
  background-color: #fbfbfb;
  border-radius: 10px;
  .title {
    padding-top: 17px;
    padding-left: 15px;
    h1 {
      font-weight: 400;
      font-size: 26px;
      line-height: 40px;
    }
  }
  .list {
    overflow-y: scroll;
    max-height: calc(95px * 4 + 35px);
    padding: 20px;
    list-style-type: none;
    scroll-margin: 30px;
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background-color: transparent;
      transition: background-color 0.9s ease-out;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
  }
}

.chip {
  margin-top: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  .wrapper {
    .value-box {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 150px;
      height: 150px;
      border: 15px solid #ff8871;
      border-radius: 50%;
      background-color: #ffe08f;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
      }
    }
    .name {
      display: block;
      margin-top: 19px;
      margin-bottom: 19px;
      line-height: 39px;
      font-size: 25px;
      font-weight: 500;
      color: #000;
    }
  }
}
